@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-[28px];
        @apply font-extrabold;
        @apply leading-none;
        font-family: "Nunito Sans", sans-serif;
    }

    h2 {
        @apply text-xl;
        @apply font-extrabold;
        @apply leading-none;
        font-family: "Nunito Sans", sans-serif;
    }

    h3 {
        @apply font-extrabold;
        @apply leading-none;
        @apply font-normal;
        font-family: "Nunito Sans", sans-serif;
    }

    h4 {
        font-size: 1.5rem;
    }

    p {
        @apply text-blue-950;
    }
}

@layer components {
    .custom-btn {
        @apply block text-center font-medium rounded-[8px] transition duration-100 w-max py-2.5 px-4;
        @apply active:ring-2;
        @apply disabled:bg-gray-200 disabled:text-gray-400
    }

    .btn-blue-outlined {
        @apply custom-btn;
        @apply border border-gray-300 text-blue-400 bg-white;
        @apply active:ring-blue-400 active:bg-slate-300 focus-visible:outline-blue-400;
    }

    .btn-blue {
        @apply custom-btn;
        @apply text-blue-950 bg-white;
        @apply active:ring-blue-950
    }

    .btn-white {
        @apply custom-btn;
        @apply text-white bg-blue-400;
        @apply active:bg-[#4663B8] focus-visible:outline-[#4663B8]
    }
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

